<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout.html">

<head>
  <title>결제 성공</title>
  <link rel="stylesheet" th:href="@{/css/product/product.css}">
  <script defer th:src="@{/js/product/orders.js}"></script>
</head>

<div layout:fragment="content">

  <!-- 날짜 검색 바 -->
  <div id="date-search-bar">
    <label for="start-date">시작 일자: </label>
    <input type="date" id="start-date" />

    <label for="end-date">종료 일자: </label>
    <input type="date" id="end-date" />

    <button id="search-button">검색</button>
  </div>

  <!-- 주문 목록 표시 영역 -->
  <div id="order-list"></div>
</div>

</html>
